img {
  border-radius: 25%;
}

.AboutMe {
  text-align: left;
  vertical-align: middle;
}

.AboutProfilePic {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8rem;
  padding-left: 8rem;
}

.AboutDescription {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2rem;
  padding-top: 8rem;
  width: 50%;

}

.AboutDescription h1 {
  color: rgba( 255, 255, 255, .7 );
  font-weight: 400;
}

.AboutDescription h2 {
  color: rgba( 255, 255, 255, .7 );
  font-weight: 400;
}
